{% extends "base.html" %}
{% block content %}

<br>
{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% if user_logged_in.id == ketju.perustaja %}
<br>
<a class="btn btn-warning btn-lg" href="{{base_path}}/ketju/{{ketju.id}}/ketjuedit">Muokkaa ketjua</a>
{% endif %}



{% if onnistui %}
<div class="primary bg-info">
    <li>{{onnistui}}</li>
</div>
{% endif %}

<h1 class="bg-success">&nbsp;&nbsp;{{ otsikko }}</h1>
<br>

{% for viesti in viestit  %}
<pre>
    <b>Kirjoittaja:</b>
    <mark>{{ kirjoittajat[viesti.kayttajaId - 1] }}</mark>
    <b>Ajankohta:</b>
    <mark>{{ viesti.paivays }}</mark>
    <blockquote>{{ viesti.sisalto }}</blockquote>
    {% if user_logged_in.id == viesti.kayttajaId %}
    <a class="btn btn-warning btn-md" href="{{base_path}}/viesti/{{viesti.id}}/edit"><span class="glyphicon-cog"> Muokkaa </span></a> <a class="btn btn-danger btn-md" href="{{base_path}}/viesti/{{viesti.id}}/destroy"><span class="glyphicon glyphicon-trash"> &nbsp;Poista &nbsp;</span></a>
    {% endif %}
</pre>
{% endfor %}

<form method="post" action="{{base_path}}/ketju">
    <textarea name="sisalto" class="form-control" rows="4"></textarea>
    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-envelope"></span> &nbsp;Lähetä viesti</button>
    <input type="hidden" name="kayttajaid" value="{{user_logged_in.id}}"/>
    <input type="hidden" name="ketjuid" value="{{ketjuid}}"/>
</form>
{% endblock %}