{% extends "base.html"%}
{% block content%}

<form class="form-inline">
    <div class="form-group">
        <label for="Haku">Haku</label>
        <input type="text" class="form-control" id="Haku" placeholder="Hakusana...">
    </div>
    <button type="submit" class="btn btn-default">Hae</button>
</form>

<h1>Kaikenlainen muu keskustelu</h1>
<table>
    <thead>
        <tr>
            <th>Aihe</th>
            <th>Viimeisin kirjoittaja</th>
            <th>Viimeisimmän viestin ajankohta</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="http://peltonpa.users.cs.helsinki.fi/foorumi/ketju">Ramasee nii pirusti</a></td>
            <td>Kartsa77</td>
            <td>1.1.2016</td>
        <tr>
            <td><a href="#">Ei voi muuta sanoo ku hattuu nostaa</a></td>
            <td>Mentulan Jartsa</td>
            <td>1.4.2015</td>
        <tr>
            <td><a href="#">Ei hitto söin liikaa ja nyt turvottaa</a></td>
            <td>Activia-mainoksen tyyppi</td>
            <td>1.2.2000</td>
        </tr>
    </tbody>
</table>

<br>

<a class="btn btn-warning" href="#">Uusi aihe</a>

{% endblock %}