{% extends "base.html" %}
{% block content %}

<h1>Ramasee niin pirusti</h1>
<br>

<pre>
    <b>Kirjoittaja:</b>
    <mark>kartsa77</mark>
    <b>Ajankohta:</b>
    <mark>1.1.2016</mark>
    <blockquote>Ei hitsi kun alko ramasemaan just!!</blockquote>
</pre>

<pre>
    <b>Kirjoittaja:</b>
    <mark>kartsa77</mark>
    <b>Ajankohta:</b>
    <mark>1.1.2016</mark>
    <blockquote>Okei otin vähän samariinia ni nyt helpotti</blockquote>
</pre>

<form>
    <textarea class="form-control" rows="4"></textarea>
    <a class="btn btn-success" href="#">Lähetä viesti</a>
</form>
{% endblock %}