{% extends "base.html"%}
{% block content%}

<form class="form-inline">
    <div class="form-group">
        <label for="Haku">Haku</label>
        <input type="text" class="form-control" id="Haku" placeholder="Hakusana...">
    </div>
    <button type="submit" class="btn btn-default">Hae</button>
</form>

<h1 class="bg-success"><br>&nbsp;&nbsp;{{ ketjut|last }}<br><br></h1>
<table>
    <thead>
        <tr>
            <th>Aihe</th>
        </tr>
    </thead>
    <tbody>
        {% for ketju in ketjut if ketju.id != null %}
        <tr>
            <td><a href="{{base_path}}/ketjut/{{ketju.id}}">{{ketju.otsikko}}&nbsp;</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<br>

<a class="btn btn-warning" href="#">Uusi aihe</a>

{% endblock %}