{% extends "base.html"%}
{% block content %}

<form class="form-inline">
    <div class="form-group">
        <label for="Haku">Haku</label>
        <input type="text" class="form-control" id="Haku" placeholder="Hakusana...">
    </div>
    <button type="submit" class="btn btn-default">Hae</button>
</form>

<h1>Keskustelut</h1>
<table>
    <thead>
        <tr>
            <th>Keskustelualue</th>
            <th>Viimeisin viesti</th>
            <th>Kirjoittaja</th>
            <th>Päivämäärä</th>
        </tr>
    </thead>

    <tbody>
        {% for alue in alueet %}
        <tr>
            <td><a href="{{base_path}}/alue/{{alue.id}}">{{alue.nimi}}&nbsp;</a></td>
            <td><a href="#">Ominaisuus ei vielä tuettu&nbsp;</a></td>
            <td>Ominaisuus ei vielä tuettu&nbsp;</td>
            <td>Ominaisuus ei vielä tuettu&nbsp;</td>
        </tr>
        {% endfor %}
    </tbody>

    {% endblock %}
