{% extends "base.html"%}
{% block content %}

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% if kirjautuminenOnnistui %}
<div class="primary bg-info">
    <li>{{kirjautuminenOnnistui}}</li>
</div>
<br>
{% endif %}

{% if onnistui %}
<div class="primary bg-info">
    <li>{{onnistui}}</li>
</div>
{% endif %}
<br>

<h1><span class="glyphicon glyphicon-comment" style="color:grey"></span>&nbsp;&nbsp;Keskustelut</h1><br>

<table>
    <thead>
        <tr>
            <th><span class="glyphicon glyphicon-th-list"></span> &nbsp;&nbsp;Keskustelualue</th>
            <th><span class="glyphicon glyphicon-envelope"></span> &nbsp;&nbsp;Viimeisin viesti</th>
        </tr>
    </thead>

    <tbody>
        {% for alue in alueet %}
        <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{base_path}}/alue/{{alue.id}}">{{alue.nimi}}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{base_path}}/ketju/{{alue.viimeinenKetju.id}}">{{alue.viimeinenKetju.otsikko}}</a>&nbsp;</td>
        </tr>
        {% endfor %}
    </tbody>

    {% endblock %}
