{% extends "base.html" %}
{% block content %}
    <h1>Painikkeet</h1>
    <button class="btn btn-default">Bootstrappi-painike</button>
    <button class="btn btn-primary">Bootstrappi-painike</button>
    <button class="btn btn-success">Bootsrappi-painike</button>
    <button class="btn btn-danger">Bootstrappi-painike</button> 

    <h1>Taulukot</h1>
    <table>
        <thead>
            <tr>
                <th>Tavalline</th>
                <th>Taulukko</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tekstii</td>
                <td>Tekstii</td>
            </tr>
            <tr>
                <td>Tekstii</td>
                <td>Tekstiii</td>
            </tr>
        </tbody>
    </table>
    
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Bootstrap</th>
                <th>Taulukko</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>tekstiiii</td>
                <td>tekst</td>
            </tr>
            <tr>
                <td>teksttttt</td>
                <td>tekst</td>
            </tr>
        </tbody>
    </table>
{% endblock %}

